div.section1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

div.section1 div+div {
    display: inline-block;
    overflow: hidden;
    width: 204.167px;
    height: 210px;
}

div.section1 div+div video {
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: center;
    transition: .2s ease;
    border-radius: 30px;
}

div.section1 div+div video:nth-of-type(3), div.section1 div+div video:nth-of-type(4) {
    position: relative;
    top: -1px;
}

div.section1 div+div video:nth-of-type(1):hover,
div.section1 div+div video:nth-of-type(2):hover,
div.section1 div+div video:nth-of-type(3):hover,
div.section1 div+div video:nth-of-type(4):hover {
    position: relative;
    height: 204px;
    width: 204px;
}

div.section1 div+div video:nth-of-type(3):hover,
div.section1 div+div video:nth-of-type(4):hover {
    top: -104px;
}

div.section1 div+div video:nth-of-type(2),
div.section1 div+div video:nth-of-type(4) {
    float: right;
}